attrs
black
celery
dash
email-validator
flask-babel
flask-bootstrap
flask-caching
flask-httpauth
flask-login
flask-mail
flask-migrate
flask-moment
flask-uploads
flask-wtf
ipso-phen
jupyter-client
parso
pip-chill
pyjwt
python-dotenv
redis
requests
