<div id="progress-div">
    <h1 id=progress-header>Waiting...</h1>
    <textarea readonly class="form-control" id="log-excerpt" rows="6"></textarea>
    <br>
    <table style="width:100%">
        <colgroup>
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 85%;">
        </colgroup>
        <tbody>
            <tr>
                <td id="progress-label" style="vertical-align:top"> Waiting...</td>
                <td>
                    <div class="progress">
                        <div 
                            class="progress-bar" 
                            id="progress-bar"
                            role="progressbar" 
                            style="width: 0%;" 
                            aria-valuenow="0" 
                            aria-valuemin="0" 
                            aria-valuemax="100"
                        >
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <form 
        class="form-inline center-block" 
        action={{ back_link }} 
        method="POST"
    >
        <button id="back-cancel" class="btn btn-primary", style="float: left;">
            < Back
        </button>
    </form>
    <button id="start-bg-job" class="btn btn-primary", style="float: right;">
        Execute queue
    </button>    
</div>