{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Welcome to IPSO Web {% if current_user.is_anonymous %}Please log in to continue{% else %}, {{ current_user.username }}{% endif %}</h1>
    <br>
    {% if message %}
        <div>
            {{ message }}
        </div>
    {% endif %}
    <div class="text-center">
        <img 
            src="{{url_for('static', filename='testing_pipeline.gif')}}" 
            alt="Responsive image"
        />
    </div>
{% endblock %}
