{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    {% if process_options_form %}
        {% if "loaded_file_name" in session %}
            <h2>Settings for: {{ session["loaded_file_name"]}}</h2>
        {% else %}
            <h2>Options</h2>
        {% endif %}
        <form action="" method="post">
            {{ process_options_form.hidden_tag() }}

            {{ wtf.form_field(process_options_form.thread_count) }}
            {{ wtf.form_field(process_options_form.overwrite_existing) }}
            {{ wtf.form_field(process_options_form.build_annotation_csv) }}
            {{ wtf.form_field(process_options_form.generate_series_id) }}
            {{ wtf.form_field(process_options_form.series_id_time_delta) }}            
            
            {% if images %}
                <b>Images</b><br>
                <textarea 
                    readonly class="form-control" id="exampleFormControlTextarea1" rows="4"
                >{{images["excerpt"]}}</textarea>
                {% if images["excess"] > 0 %}
                    and {{images["excess"]}} others
                {% endif %}
            {% else %}
                {{ wtf.form_field(process_options_form.image_list) }}
            {% endif %}

            <br>
            <hr>

            {{ process_options_form.back(class_="btn btn-primary", style="float: left;") }}
            {{ process_options_form.review(class_="btn btn-primary", style="float: right;") }}
        </form>
    {% endif %}
{% endblock %}
