{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if upload_form %}
        <h2>Select a database and a pipeline</h2>        
        <div class="row">
            <form method="POST" enctype="multipart/form-data">
                {{ upload_form.hidden_tag() }}
                {{ wtf.form_field(upload_form.database) }}
                <div class="input-group">
                    <label>Pipeline</label>
                    <br>
                    <label id="browsebutton" style="width:100px">
                        {{ upload_form.input_file(id="my-file-selector", class_="btn btn-default btn-lg") }}
                    </label>
                </div>
                <hr>
                {{ upload_form.upload_data(class_="btn btn-primary", style="float: right;") }}
            </form>
    {% endif %}
{% endblock %}